@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
:root{
    background-color: aliceblue;
}
.cabecalho{
    background-color: black;
    width: 100%;
}
.botao{
    color: aliceblue;
    font-size: 24px;
}
.titulo{
    color: lime;
    font-size: 32px;
    font-family:Emblema One;
    text-align: center;
}
}
.h2{
    font-family: Emblema One;
    font-size: 28px;
    color: rgb(42, 5, 249);
}
.texto-inicial{
    font-size: 24px;
    color: blue;
}
.texto-fonte{
    font-size: 18px;
    color: blue;
}
.primeira-linha{
    display: grid;
}