@import url('https://fonts.googleapis.com/css2?family=Emblema+One&display=swap');
:root{
    background-color: aliceblue;
}
.cabecalho{
    background-color: black;
    width: 100%;
}
.botao{
    color: rgb(23, 94, 157);
    font-size: 24px;
}
.titulo{
    color: lime;
    font-size: 32px;
    font-family:Emblema One;
    text-align: center;
}
.h2{
    font-family: Emblema One;
    font-size: 28px;
    color: rgb(255, 255, 255);
}
.texto-inicial{
    font-size: 24px;
    color: rgb(0, 0, 0);
}
.texto-fonte{
    font-size: 18px;
    color: rgb(0, 0, 0);
}
.foto{
    width: 33%;
    border-radius: 10px;
    height: 500px;
}
.texto-descricao{
    font-size: 24px;
    display: inline-block;
}
.foto-explorar{
    text-align: left;
    width: 500px;
    height: 500px;
    display: inline-block;
}
.destino{
    display: flex;
    align-items: center;
}
.ul{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
.topicos{
    text-decoration: none;
    list-style-type: none;
    display: flex;
}